.container{
 display: grid;
 grid-template-columns: auto auto auto;
 background-color: rgb(212, 207, 207);
 padding: 10px;
gap:10px 10px;
}
.container>div{
 border:1px solid black;
 text-align: center;
 background-color: green;;
 color: white;
 padding:5px;
}
.item{

 grid-row: 1 / span 2;
}
.itemn{
 grid-column: 2 /span 2;
 height:100px;
 grid-row: 2 /span 2;
}
.m{
 height:50px;
 grid-column: 2 /span 2;
}
.e{
 height:100px;
}
.i{
 height: 100px;
}